[Unit]
Description=Tuxedo Conditional Lid Handler
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/lid-handler.sh
User=root
RemainAfterExit=no

[Install]
WantedBy=multi-user.target